.navbar{
    z-index: 1;

    .nav-links{
        font-size: 18px;
    }

    h1{
        display: inline-block;
        position: relative;
        left: 12px;
        top: 10px;
        color: rgb(27, 27, 26);
    }
//     .me-auto:hover{
//     color: white;
//     background-color: beige;
//     box-shadow: 0 1rem 2rem rgba(black, .4);
//     transform: rotate(5deg) scale(1.2);
//     padding: 2px;
//     list-style: none;
// }
    
    
    #logo-img{
        width: 100px;
        height: 80px;
        border-radius: 10px;
    }

     .white_btn, .nav-btn{
        padding: 10px;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        font-size: 18px;
       
    }

    .nav-btn{
        background-color: rgb(78, 183, 221);
        border-radius: 30px;
        margin: 0 10px;
        padding: 10px 20px;

        a{
            text-decoration: none;
            color: rgb(68, 65, 65);
        }
    }

    .nav-btn:hover {
 // background-color: rgb(18, 93, 123);
    color: white;
    background-color: beige;
    box-shadow: 0 1rem 2rem rgba(black, .4);
    transform: rotate(5deg) scale(1.2);
    padding: 2px;
    list-style: none;
    }

    .white_btn{
        background-color: red;
    }

    .white_btn:hover{
        background-color: crimson;
    }
}