.footer-container  {
    // background: url('../../../public/cool-background.png');
    // background-size: 100% 400px;
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
    margin-top: 65vh;
	color: #737373;

    li {
        list-style: none;
    }
	hr {
		border-top-color: #bbb;
		opacity: 0.5;
		&.small {
			margin: 20px 0;
		}
	}
	h6 {
		color: #686868;
		font-size: 16px;
		text-transform: uppercase;
		margin-top: 5px;
		letter-spacing: 2px;
	}
	a {
		color: #737373;
        text-decoration: none;
        font-size: 16px;
       
		&:hover {
			color: #3366cc;
			text-decoration: none;
		}
	}
	


}





@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}